# Ignore Python cache and environments
__pycache__/
*.pyc
*.pyo
*.pyd
env/
Scripts/
share/
pyvenv.cfg
venv/
.venv/
ENV/
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Allow your source files
!*.py
!README.md